# Dependency directories
node_modules/

# next.js build output
.next

# typescript build output
dist

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
