.plain-input {
  border: none;
  border-bottom: 1px solid $input-border-color;
  border-radius: 0;
  background-color: transparent;

  &:hover {
    border-color: $input-border-color;
  }

  &:focus {
    border-color: $input-border-color;
    box-shadow: none;
    background-color: transparent;
  }
}
