.text-strike {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.link-never-underline:hover {
  text-decoration: none !important;
}

summary {
  color: gray;
}

nav .dropdown-toggle::after {
  vertical-align: middle;
}

.hero-image {
  background-position-x: 50%;
  background-position-x: 0%;
}

.share-dropdown {
  width: 300px;
  width: 400px;
}

.dropdown-item-danger {
  color: red;
}

.dropdown-item-danger:hover {
  color: white;
  background-color: red;
}
