files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCqSGGV2UJ+4AWm1TorCOGnpclEpWUcrBuU7ISNKcdCHcJsULKpdU0Kg6Pd6+HkMglC7E3h2deu1eFAwTY29mOWaqFgmdrJVSsEuBjtK8PyV7UQ83fL+pCwWSPW3KevNzpajk6aiOBQYchM7jHpagU4AeoZjIu1+ycVianh0Yg/30v2nQfNNlvkWTCEsdO3/W8dxV4rr2m73ON0qXq4lQlHicp5NpzmSfLJMaklMa+NWVCwaR1bH7C7ooKd1j2PI5OZPCE7xCvC4Qhcwv+pNetQH1dR7QhWLvHW3BAfqN5+FkfdGOeLVvn8A0qvVDvagAofguzmfoleGEO+zUvHLBhv ethan-macbook
      ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAuCs7qx2HuiNZn8fMH79n2W8EANUciIGLq2hXkK/FJEK7K8x/LxgBKagAltRqyq/6G0pt6/dBF1wCLd4lByFd0DXJek+8c8nqhSZNxgTxOjl0P6bWO/qOemRYKXRU+xCBG8QOUaLL5QM75wclFFFy1PAhJrWS/pmd9VysFshl0mHvmxSlFzeO/FcGovg0PLFXr79HL7akFFfBojz9Rp5q98OL8uTpo/wRfUkdqsSEwMMLuz6pO9Nbcg4IJsfkFQD8JISayQXIoD09yJ9WiYVOZFOqmvNyp1oJqm2h7hmAblziMUIIe/upJyDjL2HvSLtOmSdJegLCy79SdMZmZnnj1Q==
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDAi0Np1W6oklhVOXlHDx3vCfOJ0x1eb30lmGj1MCvjp5BOLpwWLgE8NcRcJaZr8biR70KgZWSiij38sZ5k06Ua2ZEPVy1Jr2kOp58yul+Z1nFNWTnR8BsG1WpGKg4a8Zrx0GZv/aBvcm1VaHBmRu2dvcQtQy58x4gE1RKRlaWbuUUftIOEMrnBFmVhoXr7Muml2b4gnHrwy/fgREjtUzMojkPYbMjxtByUNitBpLng0+ghXo1zRsECdrY1cyVDnZDPG50ImcjXz0bUYCL0WQd20HafNbQNXbaeqSLG1BWRwm+No/AbS0QzU2JNFsSwBhIZ6lslQ3Bni+o1gTHEtLRrQSTdg+T4r+zGNu3laS+oSiC1MBJhUY0uDEXg2EwXnl+DYPb3VLtIvwbzE6Ox7h7zbtEmQzf875PTaNsi7bvVgNHbHoKKcrgSjtjBl2B9wAM9udxi333Y+H0nYdrL3poZK+s7YV+OQnr+AZuK78Fm22ky85qnpaZayxLrPcaxaWUX2qOXygbMW0PAJgax76xohte/GB7RdH2qOymbRjSkC8HvMfDicsX2MPrDD+pKVFQzBI/i2EAGT/U5Gb2vSnDO0FK3rYuXsqhwZ6QB71PdbWlnsC4dpO9I7rfi7pw1LSPtHYANLT1ztjA+DzT74U2amRXfcx/Zt4wg8QyAj0mT7Q== ben@benburwell.com
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDN7BtuWYQ9Br+kztjGmQ8OPkQ/9vRn1AoxX8d34lBSgp3s1kMVJr5hwP80KZTvfBbbRobcndAZjm/yxIyTS0nfF2FgRY1YG60Z3A/jrUKbyo5P6qgKiESt1KPYkQcjI6A2o9fwoxC9AUL9ulDKrKBABIs7Crc7DCMUA39RLwfDsrkcdZiL7BGoCnK4l31M+FpJRoi7PiUv36T2QsrMXApAGTd1vVYCPyVmCiL6l7LKl0N1P4S8b9gJ0ZmYMbU5UXUQeftETheV+mW22b1G+3xFIoOhuBsjhBJ6c9/2P2bqz9akj/Of63X6sUxhKIKUEeij66mQNGqCZXezzFAgSyO9vKWC2+dA0Gxwi65NqjV/bJNLZ/M8KGRa9VRPgUeYwOwxbf6HvHuYVOUdOE+oiReiprJLKD9iwXnafbb2LERDi1rjRlsFtsoojRnNxQtjbmoN2+DVAYqKFf70bclxUcGD9Y+w4NA4ZtL4MbHZI0FEFruRIzUrnjUJfWv3HOOl0eTqh+qCos93FJ5CYaN5AebbMsi6D4ACBihUi/h25+TVqJUq3TYHoscYm1CjzYSkMI99gGplw56ycna09bP9jFw/FcxSNziK4pbJLmXij8ytHeYy3UzG05NcvStOjQ8w0RC8RWZ4W31eQwlFM4N9mXS+DDvcrLIy23tQHHGCQ+9eyw== cardno:000608713237
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDUol5uzSv1kYoUW2c59BgaZSo5+o7LCJY3Qxis7lBdIPf/J+3/g6GxT2zIL9TTHj04SJdrSAWuzCTYDaJ7EWx/0i8x1znvB0GTXSDG/X0Ws7ucwKIFYPlxfk9SHTcFPdsFjg6iVV5QHdfzhgseeDGdK2rBYs61WJ8LIdvoeDjWOJDi3ZfB2M7YYImarGsAnkCNRNUEgqF0vSRS/HyP47r8p/erV8fNiEbEMOAww6vVGfajQ9lhDpYSkYQF4AOc+xwjzxnO7UMjYkujWg54BgXY8PTZyyWuzJNvCRPsNQH0nq4YbHNSwGI3rbsGb+SSWWlJC/NoGz38mn4+e6vXjtbwqDITcvZUuUVKwjfU8vkKcSxNw68LOqeY2iTswuv+uZhCTnFlRT82PGbStflp6ELwlYGks7vXcdrGvRfVAjv6eYT4L/XZzhz1IvdXqfMcTRdo3fzQT4kHEgZ1XOj9zIg/4VIzORNeOh48dwx8nud2UsAdkuMO2FM94tlnf77jLg7vbo7x+lwvEC2Nh0JBgfrJ/vvYJXVAVjBBdiAiJ8hk6z5XqHY77qmDWQxqhMZVqjfBi0baifIvacT3uN3rNgOGRU12vTWhviJkTQ3r0N0RN/v5xVInNoGTyr0Yewfd+dDPZhm166Rv8XI37Es8TZN76nGf2e0wGSOyjgqi0RFomQ== ben@odysseus
