.plain-input {
  border: none;
  border-bottom: 1px solid $input-border-color;
  border-radius: 0;

  &:hover {
    border-color: $input-border-color;
  }

  &:focus {
    border-color: $input-border-color;
    box-shadow: none;
  }
}

.plain-input::placeholder {
  opacity: 0;
}

.plain-input:focus::placeholder,
.plain-input:hover::placeholder {
  opacity: 1;
}
