$primary: #19afd0;
$font-family-sans-serif: 'Lato', sans-serif;
$enable-responsive-font-sizes: true;
$love: #f01d94;

$theme-colors: (
  'love': $love
);

@import 'bootstrap/bootstrap.scss';
@import 'plain-input.scss';

$added-base: $success;
$changed-base: $warning;

.bg-added {
  background-color: hsl(
    hue($added-base),
    saturation($added-base),
    90
  ) !important;
}

.bg-changed {
  background-color: hsl(
    hue($changed-base),
    saturation($changed-base),
    90
  ) !important;
}

.text-strike {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.link-never-underline:hover {
  text-decoration: none !important;
}

summary {
  color: $secondary;
}

nav .dropdown-toggle::after {
  vertical-align: middle;
}

// Homepage
.hero-image {
  background-position-x: 50%;
  @include media-breakpoint-up(sm) {
    background-position-x: 40%;
  }
  @include media-breakpoint-up(md) {
    background-position-x: 20%;
  }
  @include media-breakpoint-up(lg) {
    background-position-x: 0%;
  }
}

.share-dropdown {
  width: 300px;
  @include media-breakpoint-up(sm) {
    width: 400px;
  }
}

.dropdown-item-danger {
  @extend .dropdown-item;
  color: $danger;
  &:hover {
    color: white;
    background-color: $danger;
  }
}

@each $color, $value in $theme-colors {
  .theme-#{$color} {
    color: theme-color-level($color, $alert-color-level);
    @include gradient-bg(theme-color-level($color, $alert-bg-level));
  }
}

#main {
  transition: filter 250ms ease-in-out;
  filter: blur(0);
  &.blur {
    filter: blur(20px);
  }
}

// Stripe
input,
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

input::placeholder {
  color: #aab7c4;
}

input:focus,
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}
